<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :postal_code %>
  <%= f.text_field :postal_code %>
</div>

<div class="field">
  <%= f.label :address %>
  <%= f.text_field :address %>
</div>

<div class="field">
  <%= f.label :self_introduction %>
  <%= f.text_area :self_introduction %>
</div>

<div class="field">
  <%= f.label :user_icon %>
  <%= image_tag resource.display_user_icon(50) if resource.user_icon.attached? %>
  <%= f.file_field :user_icon, accept: 'image/jpeg, image/png, image/gif' %>
</div>
