<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% I18n.available_locales.reject { |i| i == I18n.locale }.each do |locale| %>
      <%= link_to t("links.translation.#{locale}"), locale: locale %>
    <% end %>
    <%= yield %>
  </body>
</html>
