<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <header>
        <p class="right-aligned">
          <%= link_to "#{current_user.email}", user_path(current_user) %> |
          <% if request.path.match(/\A\/books/) %>
            <%= link_to "ユーザー一覧", users_path %> |
          <% else %>
            <%= link_to "本一覧", books_path %> |
          <% end %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </p>
      </header>
    <% end %>
    <%= yield %>
  </body>
</html>
